# Import des packages

In [1]:
import numpy as np              # linear algebra
import pandas as pd             # data processing, CSV file I/O (e.g. pd.read_csv)
import os                       # files handling
import re
from PIL import Image
from random import randint, seed
from IPython.display import display
import matplotlib.pyplot as plt
import json
import warnings
import requests
import seaborn as sns
warnings.filterwarnings('ignore')

# Import des images

In [27]:
def load_jpeg_images(path):
    image_files = [f for f in os.listdir(path) if f.endswith('.jpg') or f.endswith('.jpeg')]
    images = []
    ids=[]
    for file in image_files:
        ids.append(os.path.splitext(file)[0])
        with Image.open(os.path.join(path, file)) as image:
            image_data = np.array(image)
            images.append(image_data)
    return pd.DataFrame({"ids":np.array(ids) , "img":np.array(images)})
    
df=load_jpeg_images("images/")

In [28]:
df

         ids                                                img
0     521343  [[[55, 23, 0], [56, 24, 1], [57, 25, 2], [57, ...
1     578236  [[[87, 72, 51], [82, 67, 46], [116, 101, 80], ...
2     145426  [[[246, 255, 251], [246, 255, 251], [246, 255,...
3     322411  [[[153, 147, 157], [146, 140, 150], [145, 139,...
4     105764  [[[34, 41, 10], [35, 42, 11], [39, 45, 17], [4...
...      ...                                                ...
9442  584094  [[[160, 170, 143], [94, 100, 74], [125, 127, 1...
9443  279418  [[[121, 78, 71], [119, 76, 69], [115, 72, 65],...
9444  170484  [[[68, 50, 36], [70, 53, 37], [75, 58, 40], [8...
9445  382866  [[[39, 48, 47], [58, 67, 66], [48, 57, 56], [2...
9446  252845  [[[55, 63, 52], [45, 53, 42], [42, 48, 38], [2...

[9447 rows x 2 columns]